<div class="list-models">
    <h1>Books</h1>

    <div class="create">
        <LinkTo @route="new">Add New Book</LinkTo>
    </div>

    <table>
        <tr>
            <th></th>
            <th></th>
            <th>Title</th>
            <th>Author</th>
        </tr>
        {{#each model as |book|}}
        <tr>
            <td>
                <LinkTo @route="edit" @model={{book.id}}>
                    <FaIcon @icon="pen-to-square" @size="2x"/>
                </LinkTo>
            </td>
            <td>
                <div class="delete" onclick={{action "deleteBook" book}}>
                    <FaIcon @icon="trash-can" @size="2x"/>
                </div>
            </td>
            <td>
                <LinkTo @route="book" @model={{book.id}}>{{book.title}}</LinkTo>
            </td>
            <td>{{book.author}}</td>
        </tr>
        {{/each}}
    </table>
</div>