<div class="container">

    <div class="kanban-container">
    <h2>To Read...</h2>
        <div class="horizontal-books">
            {{#each this.model as |book|}}
            {{#if book.isUnread}}
                <div class="item">
                    <LinkTo @route="edit" @model={{book.id}}>{{book.title}}</LinkTo>
                </div>
            {{/if}}
            {{/each}}
        </div>
    </div>

    <div class="kanban-container">
        <h2>Reading right now...</h2>
        <div class="horizontal-books">
            {{#each this.model as |book|}}
            {{#if book.isBeingRead}}
                <div class="item">
                    <LinkTo @route="edit" @model={{book.id}}>{{book.title}}</LinkTo>
                </div>
            {{/if}}
            {{/each}}
        </div>
    </div>

    <div class="kanban-container">
        <h2>Finished reading....</h2>
        <div class="horizontal-books">
            {{#each this.model as |book|}}
            {{#if book.isFinished}}
                <div class="item">
                    <LinkTo @route="edit" @model={{book.id}}>{{book.title}}</LinkTo>
                </div>
            {{/if}}
            {{/each}}
        </div>
    </div>

</div>
